button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
    color: #007bff; /* Color azul para el botón de editar */
  }
  
  button:hover {
    color: #0056b3; /* Color más oscuro al pasar el mouse */
  }
  
  button:last-child {
    color: #dc3545; /* Color rojo para el botón de eliminar */
  }
  
  button:last-child:hover {
    color: #a71d2a; /* Color más oscuro al pasar el mouse */
  }